body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)), url('background.jpg'); /* Remplacez 'background.jpg' par le chemin de votre image de fond */
  background-size: cover;
  backdrop-filter: blur(10px); /* Ajoute un flou au fond */
}

.App {
  background: rgba(255, 255, 255, 0.1); /* Couleur de fond avec opacité */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px); /* Ajoute un flou au contenu */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(40, 44, 52, 0.8); /* Couleur de fond avec opacité */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
